singularity.enabled=true
conda.enabled=true
date=new Date().format( 'yyMMdd' )
year=new Date().format( 'yyyy' )
user="$USER"
runID="${date}.${user}"

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

params {
    //preset parameters
    //outdir                      ="${launchDir.baseName}.Results"
    outdir                      =null
    rundir                      ="${launchDir.baseName}" 
    genome                      ="hg38"
    reffilesTMP                 = "/nfs_fast_a/genomes"
    condaLocal                  ="/lnx01_data3/shared/programmer/miniconda3/envs"
    dataArchive                 ="/lnx01_data2/shared/dataArchive/lnx02_v2/pacBioLRS/pureTarget_rawdata/"
    input                       =null
    hifiReads                   =null
    samplesheet                 =null
   // groupedOutput               =true
    single                      =null
    help                        =null
    layoutMode                  =null
    // conda envs:
    trgt4                       ="${condaLocal}/trgt4/"
    trgt5                       ="${condaLocal}/trgt5/"
    pbmm2                       ="${condaLocal}/pbmm2/"
    pbCPGtools                  ="${condaLocal}/pbCPGtools/"
    methbat                     ="${condaLocal}/methbat/"



    puretargetPlotGenes         =[
        "DRPLA_ATN1",
        "SCA1_ATXN1",
        "SCA10_ATXN10",
        "SCA2_ATXN2",
        "SCA3_ATXN3",
        "SCA7_ATXN7",
        "SCA8_ATXN8OS",
        "SCA31_BEAN1",
        "SCA6_CACNA1A",
        "SCA37_DAB1",
        "SCA27B_FGF14_KGVejle_minimal",
        "SCA27B_FGF14_KGVejle_minimal_GTA",
        "SCA36_NOP56",
        "SCA12_PPP2R2B",
        "SCA17_TBP",
        "SCA4_ZFHX3",
        "FXS_FMR1",
        "FRAXE_AFF2",
        "FTDALS1_C9orf72",
        "FRDA_FXN",
        "CANVAS_RFC1",
        "NIID_NOTCH2NLC",
        "DM1_DMPK",
        "DM2_CNBP",
        "HD_HTT",
        "HDL2_JPH3",
        "SBMA_AR",
        "OPMD_PABPN1",
        "OPDM5_ABCD3",
        "OPDM2_GIPC1",
        "OPDM1_LRP12",
        "OPDM4_RILPL1",
        "CCHS_PHOX2B",
        "CJD_PRNP",
        "FAME1_SAMD12",
        "EPM1_CSTB",
    ]

}

params.readSet = params.hifiReads ? "HiFiReads" : "AllReads"

params.outputDirTMP   = params.outdir ? "${params.outdir}_${params.readSet}" : "/lnx01_data2/shared/patients/pureTarget/${params.genome}/${year}/"

def s_bindTMP                   = "/data/:/data/,/lnx01_data2/:/lnx01_data2/,/fast/:/fast/,/lnx01_data3/:/lnx01_data3/,/lnx01_data4/:/lnx01_data4/,/nfs_fast_a/:/nfs_fast_a/,/nfs_fast_b/:/nfs_fast_b/"

if( !params.layoutMode ) {
    params.layoutMode = params.single ? 'perSample' : 'default'
}

params.outBase = { meta ->

    //def metaRunID = meta.runID ?: 'UNKNOWN_RUN'

    switch(params.layoutMode) {

        case 'default':
            return "${params.outputDirTMP}/${meta.outKey}_${params.readSet}"
        case 'perSample':
            return "${params.outputDirTMP}/${meta.outKey}/${meta.npn}"
        default:
            throw new IllegalArgumentException("Unknown layoutMode='${params.layoutMode}' (expected: default|perSample)")
    }
}

env {
    //defined in config
   // readSet                     = "${readSetTMP}"
    //outputDir                   = "${outputDirTMP}"
    refFilesDir                 ="${params.reffilesTMP}"
    s_bind                      ="${s_bindTMP}"
    //fixed env variables
    assembly                    = "hg38"
    simgpath                    ="/data/shared/programmer/simg"
    tmpDIR                      ="/fast/TMP/TMP.${user}/"
    genome_mmi                  = "${refFilesDir}/hg38/pacbio_hg38/GRCh38_no_alt_analysis_set.CCS.mmi"
    genome_fasta                = "${refFilesDir}/hg38/pacbio_hg38/GRCh38_no_alt_analysis_set.fasta"
    genome_fasta_fai            = "${refFilesDir}/hg38/pacbio_hg38/GRCh38_no_alt_analysis_set.fasta.fai"
    genome_fasta_dict           = "${refFilesDir}/hg38/pacbio_hg38/ucsc.hg38.NGS.analysisSet.dict"
    genome_version              = "hg38v4LRS"
    tr_pathogenic_v2            ="${refFilesDir}/hg38/pacbio_hg38/tools/TRGT/STRchive-disease-loci-v2.9.1.hg38.TRGT.KGVejle_edited_v2.bed"

    methylationBackground       ="/data/shared/genomes/hg38/pacbio_hg38/methylation/meth_profile_model.tsv"
    methylationBackgroundLocal  ="/data/shared/genomes/hg38/pacbio_hg38/methylation/250907.46samples.met.profile"
   
}





timeline {
    enabled     = true
    file        = "${params.outputDirTMP}/runInfo/${trace_timestamp}_Nextflow_timeline.html"
}

report {
    enabled     = true
    file        = "${params.outputDirTMP}/runInfo/${trace_timestamp}_Nextflow_report.html"
}

trace {
    enabled     = true
    file        = "${params.outputDirTMP}/runInfo/${trace_timestamp}_Nextflow_trace.txt"
}

///////////////// Global process default settings /////////////////////

process {
    executor            = 'local'
    scratch             = false
    maxForks            = 10
    cpus                = 8
    errorStrategy       = 'ignore'
    
    withLabel: 'low' {
        cpus            = 4
        errorStrategy   = 'ignore'
    }

    withLabel: 'medium' {
        cpus            = 8
        errorStrategy   = 'ignore'
    }

    withLabel: 'high' {
        cpus            = 24
        maxForks        = 8
        errorStrategy   = 'ignore'
    }

    withLabel: 'veryHigh' {
        cpus            = 48
        maxForks        = 8
        errorStrategy   = 'terminate'
    }
}


profiles {

    slurm {

        workDir = "/lnx01_data2/slurmWork/${user}/${trace_timestamp}_${launchDir.baseName}"

        process {

            cpus                = 16
            memory              = '16 GB'
            time                = '48h'
            environment         = ['TMPDIR': "/fast/TMP/TMP.${user}"]
            executor            = 'slurm'
            queue               = 'compute'
            scratch             = true
            shell               = ['/bin/bash', '-l']
            maxForks            = 30
            maxRetries          = 1


            withLabel: 'low' {
                cpus            = 4
                memory          = '8 GB'
                time            = '24h'
                maxRetries      = 1
                errorStrategy   = 'ignore'
            }

            withLabel: 'medium' {
                cpus            = 8
                memory          = '16 GB'
                time            = '48h'
                maxRetries      = 1
                errorStrategy   = 'ignore'
            }

            withLabel: 'high' {
                cpus            = 32
                memory          = '32 GB'
                time            = '72h'
                maxRetries      = 2
                errorStrategy   = 'ignore'
            }

            withLabel: 'veryHigh' {
                cpus            = 64
                memory          = '32 GB'
                time            = '72h'
                maxRetries      = 2
                errorStrategy   = 'terminate'
            }

            /// Specific process overrides for slurm profile
            withName: 'create_fofn' {
                cpus            = 4
                memory          = '4 GB'
                executor        = 'local'
                scratch         = false
            }
            withName: 'inputFiles_symlinks_ubam' {
                cpus            = 4
                memory          = '4 GB'
                executor        = 'local'
                scratch         = false
            }
        }
    }

   slurm_test {
        workDir = "/nfs_fast/mmaj/slurmWork/${user}/${trace_timestamp}_${launchDir.baseName}"

        process {
            cpus            = 16
            memory          = '32 GB'
            time            = '48h'
            //environment     = ['TMPDIR': "/nfs_fast/mmaj/TMP/"]
            executor        = 'slurm'
            queue           = 'compute'
            scratch         = true
            shell           = ['/bin/bash', '-l']
            env.TMPDIR      = "/nfs_fast/mmaj/TMP/"
            clusterOptions  = "--export=ALL,TMPDIR=/nfs_fast/mmaj/TMP/"


            withLabel: 'low' {
                cpus            = 4
                memory          = '8 GB'
                time            = '24h'
                maxRetries      = 1
                errorStrategy   = 'ignore'
            }

            withLabel: 'medium' {
                cpus            = 8
                memory          = '16 GB'
                time            = '48h'
                maxRetries      = 1
                errorStrategy   = 'ignore'
            }

            withLabel: 'high' {
                cpus            = 32
                memory          = '32 GB'
                time            = '72h'
                maxRetries      = 2
                errorStrategy   = 'ignore'
            }

            withLabel: 'veryHigh' {
                cpus            = 64
                memory          = '32 GB'
                time            = '72h'
                maxRetries      = 2
                errorStrategy   = 'terminate'
            }

            /// Specific process overrides for slurm profile
            withName: 'create_fofn' {
                cpus            = 4
                memory          = '4 GB'
                executor        = 'local'
                scratch         = false
            }
            withName: 'inputFiles_symlinks_ubam' {
                cpus            = 4
                memory          = '4 GB'
                executor        = 'local'
                scratch         = false
            }
        }
    }
}


/*
puretargetPlotGenesV1_odl       =[
    "SCA1_ATXN1",
    "SCA2_ATXN2",
    "SCA3_ATXN3",
    "SCA6_CACNA1A",
    "SCA7_ATXN7",
    "CANVAS_RFC1",
    "DM1_DMPK",
    "DM2_CNBP",
    "FTDALS1_C9orf72",
    "FXS_FMR1",
    "FRDA_FXN",
    "HD_HTT"]
                     
puretargetV2PlotGenes_35full        =[
        "DRPLA_ATN1",
        "SCA1_ATXN1",
        "SCA10_ATXN10",
        "SCA2_ATXN2",
        "SCA3_ATXN3",
        "SCA7_ATXN7",
        "SCA8_ATXN8OS",
        "SCA31_BEAN1",
        "SCA6_CACNA1A",
        "SCA37_DAB1",
        "SCA27B_FGF14",
        "SCA36_NOP56",
        "SCA12_PPP2R2B",
        "SCA17_TBP",
        "SCA4_ZFHX3",
        "FXS_FMR1",
        "FRAXE_AFF2",
        "FTDALS1_C9orf72",
        "FRDA_FXN",
        "CANVAS_RFC1",
        "NIID_NOTCH2NLC",
        "DM1_DMPK",
        "DM2_CNBP",
        "HD_HTT",
        "HDL2_JPH3",
        "SBMA_AR",
        "OPMD_PABPN1",
        "OPDM5_ABCD3",
        "OPDM2_GIPC1",
        "OPDM1_LRP12",
        "OPDM4_RILPL1",
        "CCHS_PHOX2B",
        "CJD_PRNP",
        "FAME1_SAMD12",
        "EPM1_CSTB",
]


    puretargetPlotGenesPT2         =[
            "SCA1_ATXN1",
            "SCA10_ATXN10",
            "SCA2_ATXN2",
            "SCA3_ATXN3",
            "SCA7_ATXN7",
            "SCA8_ATXN8OS",
            "SCA31_BEAN1",
            "SCA6_CACNA1A",
            "SCA37_DAB1",
            "SCA27B_FGF14",
            "SCA36_NOP56",
            "SCA12_PPP2R2B",
            "SCA17_TBP",
            "SCA4_ZFHX3",
            "FXS_FMR1",
            "FTDALS1_C9orf72",
            "FRDA_FXN",
            "CANVAS_RFC1",
            "NIID_NOTCH2NLC",
            "DM1_DMPK",
            "DM2_CNBP",
            "HD_HTT",
            "FAME1_SAMD12",
            "EPM1_CSTB",
    ]
*/